.navbar {
    background-color: #9d0f1a;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

  }
h1{
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
a{
  font-size: 24px;
}
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .nav-links a:hover {
    color: #ccc;
  }
  
  .burger {
    display: none;
  }
  
  .line1,.line2,.line3 {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 6px;
    transition: transform 0.4s ease;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
  .nav-links {
      display: none;
    }
  .burger {
      display: block;
      cursor: pointer;
    }
  .nav-links.active {
      display: block;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #333;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
  .nav-links.active li {
      margin-bottom: 20px;
    }
  .nav-links.active a {
      font-size: 1.2rem;
    }
  .burger.active.line1 {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
  .burger.active.line2 {
      opacity: 0;
    }
  .burger.active.line3 {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }
